.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    max-width: 1300px;
  }
.gridcontainer div {
    border: 1px solid black;
    text-align: center;
}
.textbox {
    width: 510px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    white-space: pre-line;
    font-size: 100%;
    overflow: auto;
}