body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    max-width: 1300px;
  }
.gridcontainer div {
    border: 1px solid black;
    text-align: center;
}
.gridcontainer img {
    width: 85%;
}

.overcontainer {
    border: 1px solid black; 
    max-width: 1300px;
    margin: auto;
}

.textbox {
    font-family: 'Courier New', Courier, monospace;
    max-width: 510px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    white-space: pre-line;
    font-size: 100%;
    overflow: auto;
}

.alertbox {
    text-align: left;
}

.alertdetail {
    max-width: 700px;
    max-height: 500px;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    white-space: pre-line;
    font-size: 100%;
    overflow: auto;
}

.submittedforecast {
    font-family: 'Courier New', Courier, monospace;
    max-width: 500px;
    min-height: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    white-space: pre-line;
    font-size: 110%;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  background-color: black;
  color: white;
  cursor: crosshair;
  padding: 15px;
  border-radius: 10px;
}
#topBtn:hover {
  background-color: grey
}